/*Selector universal en css*/
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h1{
    font-family: 'Roboto Serif', sans-serif;
    font-weight:bolder;
    text-align: center;
    padding: 20px;
    color: black;
}
h3{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: black;
}
.margin_padding_0{
    margin: 0 !important;
    padding: 0 !important;
}
/* Animates */
.animate__pulse
{
    --animate-duration: 3s;
    animation-iteration-count:5;
}
.animate__bounceInRight{
    --animate-duration: 3s;
}
/* Header */
header{
    background-color: #51d7d4;
    border: solid 5px rgb(0, 255, 221);
    background-image: url(../images/fondo.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.navbar-margin
{
    padding-right: 4px;
    padding-left: 3px;
}
.resaltador{
    background-color: rgb(38, 247, 177);
    border-radius: 8px;
    padding: 5px;
}
/* Main*/
main{
    background-color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.mi-card{
    margin: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
}
.mi-card a img{
    border-radius: 8px;
}
.mi-card div{
    margin: 10px;
}
.mi-card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
form{
    padding: 10px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
/* Footer */
footer{
    background-image: url(../images/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #51d7d4;
    border: solid 5px rgb(0, 255, 221);
}
footer div{
    display: flex;
    justify-content:space-between;
}
.wsp{
    border: 3px solid white;
    border-radius: 20px;
}
.wsp a img{
    width: 100%;
    height: 100%;
}
footer div span{
    margin: 10px;
}
footer div span a:hover{
    color: brown;
}
iframe{
    margin: 10px;
    border-radius: 20px;
    border: 3px solid white;
    height: 100%;
    width: 100%;
}
/* Meadia Queries */
/* Movile */
@media(max-width:676px)
{
    *{
        font-size: 19px;
    }
    .texto{
        font-size: 15px;
    }
    h1{
        font-size: 40px;
    }
    h3{
        font-size: 20px;
    }
    footer{
        height: 150px;
    }
    .wsp{
        height: 80px;
        width: 100px;
    }
    .iframe{
        height: 100px;
        width: 140px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}
/* Tablet */
@media(min-width:577px) and (max-width:1023px)
{
    *{
        font-size: 25px;
    }
    h1{
        font-size: 60px;
    }
    h3{
        font-size: 30px;
    }
    footer{
        height: 220px;
    }
    .wsp{
        height: 120px;
        width: 140px;
    }
    .iframe{
        height: 160px;
        width: 200px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}
/* Desktop */
@media(min-width:1024px)
{
    *{
        font-size: 30px;
    }
    h1{
        font-size: 80px;
    }
    h3{
        font-size: 30px;
    }
    footer{
        height: 240px;
    }
    .wsp{
        height: 140px;
        width: 160px;
    }
    .iframe{
        height: 180px;
        width: 350px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
}