* {
  margin: 0;
  padding: 0;
}

.margin_padding_0 {
  margin: 0 !important;
  padding: 0 !important;
}

.animate__pulse {
  animation-duration: 3s;
  animation-iteration-count: 5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Robot Serif,  sans serif";
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  color: black;
}

h3 {
  font-weight: 400;
  margin: 0;
}

header nav .nav-principal {
  background-color: #26f7b1;
  border-radius: 8px;
  padding: 5px;
}
@media screen and (max-width: 570px) {
  header nav .nav-principal {
    font-size: 20px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  header nav .nav-principal {
    font-size: 25px;
  }
}
@media screen and (min-width: 1025px) {
  header nav .nav-principal {
    font-size: 30px;
  }
}
header nav .nav-principal:hover {
  transition: all 0.75s;
  transform: scale(1.2, 1.2);
}
@media screen and (max-width: 570px) {
  header nav .nav-secundario {
    font-size: 18px;
  }
  header nav .nav-secundario:hover {
    transition: all 0.75s;
    transform: translateX(5px);
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  header nav .nav-secundario {
    font-size: 23px;
  }
  header nav .nav-secundario:hover {
    transition: all 0.75s;
    transform: translateX(5px);
  }
}
@media screen and (min-width: 1025px) {
  header nav .nav-secundario {
    font-size: 28px;
  }
  header nav .nav-secundario:hover {
    transition: all 0.75s;
    transform: scale(1.1, 1.1);
  }
}

header nav {
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border: solid 5px #51d7d4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main section {
  background-color: white;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

main section .card-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 570px) {
  main section div h1 {
    font-size: 50px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  main section div h1 {
    font-size: 70px;
  }
}
@media screen and (min-width: 1025px) {
  main section div h1 {
    font-size: 90px;
  }
}
main section .mi-card {
  margin: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
}
main section .mi-card a img {
  border-radius: 8px;
}
main section .mi-card div {
  margin: 10px;
}
@media screen and (max-width: 570px) {
  main section .mi-card div h2 {
    font-size: 15px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  main section .mi-card div h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1025px) {
  main section .mi-card div h2 {
    font-size: 25px;
  }
}
main section .mi-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
main section .miniCard {
  margin: 10px;
  margin-top: 50px;
  padding: 0;
}
main section .miniCard-title {
  font-weight: bold;
  margin: 10px;
}
@media screen and (max-width: 570px) {
  main section .miniCard-title {
    font-size: 25px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  main section .miniCard-title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1025px) {
  main section .miniCard-title {
    font-size: 35px;
  }
}
main section form {
  margin-bottom: 50px;
}
main section form:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 570px) {
  main section form .form-txt-principal {
    font-size: 20px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  main section form .form-txt-principal {
    font-size: 30px;
  }
}
@media screen and (min-width: 1025px) {
  main section form .form-txt-principal {
    font-size: 40px;
  }
}
@media screen and (max-width: 570px) {
  main section form .form-txt-secundario {
    font-size: 15px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  main section form .form-txt-secundario {
    font-size: 20px;
  }
}
@media screen and (min-width: 1025px) {
  main section form .form-txt-secundario {
    font-size: 25px;
  }
}

footer {
  background-image: url("./images/fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 5px #00ffdd;
  background-color: #51d7d4;
}

footer div span iframe {
  margin: 10px;
  border-radius: 20px;
  border: 3px solid white;
  height: 100%;
  width: 100%;
}

footer div {
  display: flex;
  justify-content: space-between;
}
footer div span {
  margin: 10px;
}
@media screen and (max-width: 570px) {
  footer div span div {
    height: 80px;
    width: 100px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  footer div span div {
    height: 120px;
    width: 140px;
  }
}
@media screen and (min-width: 1025px) {
  footer div span div {
    height: 140px;
    width: 160px;
  }
}
footer div span a:hover {
  color: brown;
}
@media screen and (max-width: 570px) {
  footer div span a h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  footer div span a h3 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1025px) {
  footer div span a h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 570px) {
  footer div span iframe {
    height: 100px;
    width: 140px;
  }
}
@media screen and (min-width: 571px) and (max-width: 1024px) {
  footer div span iframe {
    height: 160px;
    width: 200px;
  }
}
@media screen and (min-width: 1025px) {
  footer div span iframe {
    height: 180px;
    width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
