@import "../base/extends";
@import "../base/listas";
footer{
    //extends
    @extend %background-H-F;
    div{
        display: flex;
        justify-content: space-between;
        span{
            margin:10px;
            div{
                //media
                @media screen and (max-width: 570px){
                    height: nth($wsp-h-size, 1);
                    width: nth($wsp-w-size, 1);
                }
                @media screen and (min-width: 571px) and (max-width: 1024px){
                    height: nth($wsp-h-size, 2);
                    width: nth($wsp-w-size, 2);
                }
                @media screen and (min-width: 1025px){
                    height: nth($wsp-h-size, 3);
                    width: nth($wsp-w-size, 3);
                }
            }
            a{
                &:hover{
                    color: brown;
                }
                h3{
                    //media
                    @media screen and (max-width: 570px){
                        font-size: nth($h3-size, 1);
                    }
                    @media screen and (min-width: 571px) and (max-width: 1024px){
                        font-size: nth($h3-size, 2);
                    }
                    @media screen and (min-width: 1025px){
                        font-size: nth($h3-size, 3);
                    }
                }
            }
        }
        span{
            iframe{
                //extends
                @extend %iframe;
                //media
                @media screen and (max-width: 570px){
                    height: nth($iframe-h-size, 1);
                    width: nth($iframe-w-size, 1);
                }
                @media screen and (min-width: 571px) and (max-width: 1024px){
                    height: nth($iframe-h-size, 2);
                    width: nth($iframe-w-size, 2);
                }
                @media screen and (min-width: 1025px){
                    height: nth($iframe-h-size, 3);
                    width: nth($iframe-w-size, 3);
                }
            }
        }
    }
}
