@import "../base/variables";
@import "../base/listas";
@import "../base/fonts";
nav{
    padding:10px;
    a.nav-principal{
        background-color: $nav-btn-actual;
        border-radius: 8px;
        padding: 5px;
        //media
        @media screen and (max-width: 570px){
            font-size: nth($nav-size, 1);
        }
        @media screen and (min-width: 571px) and (max-width: 1024px){
            font-size: nth($nav-size, 2);
        }
        @media screen and (min-width: 1025px){
            font-size: nth($nav-size, 3);
        }
    }
    div{
        div.nav-secundario{
            //media
            @media screen and (max-width: 570px){
                font-size: nth($nav-sec-size, 1);

            }
            @media screen and (min-width: 571px) and (max-width: 1024px){
                font-size: nth($nav-sec-size, 2);
            }
            @media screen and (min-width: 1025px){
                font-size: nth($nav-sec-size, 3);
            }
        }
    }
}