@import "./variables";
//nav
%nav{
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    padding:10px;
    border: solid 5px $background-H-F-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
//main
%main{
    background-color: $background-M-color;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
//fondo footer
%background-F{
    background-image: url("../../images/fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 5px rgb(0, 255, 221);
    background-color: $background-H-F-color;
}
//iframe footer
%iframe{
    margin: 10px;
    border-radius: 20px;
    border:  3px solid white;
    height: 100%;
    width: 100%;
}
//card-shadow-main
%card-shadow{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}