//fonts-color
$font-color:black;
//background-color-header-footer
$background-H-F-color:#51d7d4;
//background-color-main
$background-M-color: white;
//components-color
$nav-btn-actual: rgb(38, 247, 177);