//fonts-size 1-xs 2-md 3-lg
$h1-size: 40px, 60px, 80px;
$h3-size: 20px, 30px, 30px; 
$nav-size: 20px, 25px, 30px;
$nav-sec-size: 18px, 23px, 28px;
$h1-size: 50px, 70px, 90px;
$h2-size:  15px, 20px, 25px; 
$h3-size: 20px, 30px, 35px;
$iframe-h-size: 100px, 160px, 180px;
$iframe-w-size: 140px, 200px, 350px;
$wsp-h-size: 80px, 120px, 140px;
$wsp-w-size: 100px, 140px, 160px;
$formulario-primario-txt: 20px, 30px, 40px;
$formulario-secundario-txt: 15px, 20px, 25px;